av
blinker
Bootstrap-Flask
certifi
charset-normalizer
click
colorama
comtypes
dominate
Flask
Flask-Login
idna
importlib-metadata
imutils
itsdangerous
Jinja2
MarkupSafe
numpy
opencv-python-headless
pidng
piexif
Pillow
requests
simplejpeg
urllib3
v4l2-python3
v4l2py
visitor
Werkzeug
WTForms
zipp
