<!DOCTYPE html>
<html lang="en">
<head>
    {{ bootstrap.load_css() }}
    <meta charset="UTF-8">
    <title>Camera App</title>
    <link href="{{url_for('static', filename='css/stuff.css')}}" rel="stylesheet">
    <script src="{{url_for('static', filename='js/stuff.js')}}"></script>
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body onload="initialResize()">
{{ bootstrap.load_js() }}
<!-- Slider to control the width of the video -->

<div class="column-container-2">
    <div overflow="clip">
        <div id="camera-feed">
                    <label for="size-slider">Resize: </label>
                    <input id="size-slider" max="200" min="100" oninput="resizeVideo()"
                           onload="resizeVideo()"
                           type="range" value="100">
            <img alt="video-feed" height="auto" id="jpeg" src="{{ url_for('video_feed') }}" width="100%">
        </div>
        <div>
            <input id="lockButton" onclick="lock()" type="button" value="Unlocked"/>
        </div>
        <div>


            <!-- Dynamic Buttons -->
        </div>
        <div>
            <label for="toolCount">Tool Count</label>
            <input id="toolCount" min="1" onchange="createTools()" placeholder="Enter number of tools" type="number"
                   value="1">
        </div>
        <div class="button-row" float="left" id="dynamic-tools">
            <!-- Buttons will be added here -->
        </div>
    </div>
    <div class="row-continer-3">
        <div class="column-container-2">
            <div>
                <!-- Jog Controllers -->
                <h4>Jog Printer</h4>
                <input onclick="jog('x')" type="button" value="Jog X"/>
                <input onclick="jog('y')" type="button" value="Jog Y"/>
                <input onclick="jog('z')" type="button" value="Jog Z"/>
            </div>
            <div>
                <h4>Pan and Zoom</h4>
                <form id="pan-form">
                    <div>
                        <input onclick="pan('left')" type="button" type="button" value="Left"/>
                        <input onclick="pan('right')" type="button" type="button" value="Right"/>
                    </div>
                    <div>
                        <input onclick="pan('up')" type="button" type="button" value="Up"/>
                        <input onclick="pan('down')" type="button" type="button" value="Down"/>
                    </div>
                    <div>
                        <label for="pan-amount">Pan Amount:</label>
                        <input id="pan-amount" min="1" name="pan_amount" type="number" value="{{ pan_amount }}">
                    </div>
                    <label for="zoom-slider">Zoom: </label>
                    <input id="zoom-slider" max="5" min="1" oninput="zoom()" step="0.1" type="range"
                           value="{{ zoom_level }}">
                </form>
            </div>
        </div>
        <div>
            <div id="controls">
                <form id="circle-detection-form">
                    <!-- Circle Detection Parameters -->
                    <div class="column-container-2">

                        <div>
                            <label for="dp-value">dp:</label>
                            <div class="slider-value" id="dp-value">1</div>
                            <div class="slider-group" id="dp-group">
                                <input id="dp-min" name="dp-min" step="0.1" type="number" value="0">
                                <input id="dp-slider" max="2" min="0" name="dp-slider" step="0.1" type="range"
                                       value="1">
                                <input id="dp-max" name="dp-max" step="0.1" type="number" value="2">
                            </div>
                        </div>
                        <div>
                            <label for="minDist-value">minDist:</label>
                            <div class="slider-value" id="minDist-value">1</div>
                            <div class="slider-group" id="minDist-group">
                                <input id="minDist-min" name="minDist-min" step="1" type="number" value="0">
                                <input id="minDist-slider" max="100" min="0" name="minDist-slider" step="1" type="range"
                                       value="50">
                                <input id="minDist-max" name="minDist-max" step="1" type="number" value="100">
                            </div>
                        </div>

                    </div>

                    <div class="column-container-2">
                        <div>

                            <label for="param1-value">param1:</label>
                            <div class="slider-value" id="param1-value">1</div>
                            <div class="slider-group" id="param1-group">
                                <input id="param1-min" name="param1-min" step="1" type="number" value="0">
                                <input id="param1-slider" max="100" min="0" name="param1-slider" step="1" type="range"
                                       value="50">
                                <input id="param1-max" name="param1-max" step="1" type="number" value="100">
                            </div>
                        </div>
                        <div>
                            <label for="param2-value">param2:</label>
                            <div class="slider-value" id="param2-value">1</div>
                            <div class="slider-group" id="param2-group">
                                <input id="param2-min" name="param2-min" step="1" type="number" value="0">
                                <input id="param2-slider" max="100" min="0" name="param2-slider" step="1" type="range"
                                       value="50">
                                <input id="param2-max" name="param2-max" step="1" type="number" value="100">
                            </div>
                        </div>
                    </div>
                    <div class="column-container-2">

                        <div>
                            <label for="minRadius-value">minRadius:</label>
                            <div class="slider-value" id="minRadius-value">1</div>
                            <div class="slider-group" id="minRadius-group">
                                <input id="minRadius-min" name="minRadius-min" step="1" type="number" value="0">
                                <input id="minRadius-slider" max="100" min="0" name="minRadius-slider" step="1"
                                       type="range"
                                       value="50">
                                <input id="minRadius-max" name="minRadius-max" step="1" type="number" value="100">
                            </div>
                        </div>
                        <div>
                            <label for="maxRadius-value">maxRadius:</label>
                            <div class="slider-value" id="maxRadius-value">1</div>
                            <div class="slider-group" id="maxRadius-group">
                                <input id="maxRadius-min" name="maxRadius-min" step="1" type="number" value="0">
                                <input id="maxRadius-slider" max="100" min="0" name="maxRadius-slider" step="1"
                                       type="range"
                                       value="200">
                                <input id="maxRadius-max" name="maxRadius-max" step="1" type="number" value="400">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


</div>
</div>

</body>
</html>
